include menubar
html
head
	link(href='/css/normalize.css', rel='stylesheet')
	style.
		.Admin-login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.Admin-login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.Admin-login-form input[type="password"],
		.Admin-login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.Admin-login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
body
		form(action="/ADLogin" method="post").Admin-login-form
			input(type = 'hidden' name ='_method' value='put')
			h2 Login Admin
			table
				tr
					td 
						|Email 	  : 
						input(type = 'text' name = 'email' placeholder = 'E-mail')
						br
						br
						|Password : 
						input(type = 'password' name ='password' placeholder = 'password')
						br
						br
						input(type = 'submit' value ='Login')
						
