include menubar
html
head
	title= title
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
	script.
		$(document).ready(function(){
			$("#prev").click(function(){
				window.history.back();
			});
		});
		
		$(document).ready(function(){
			$('.optionA').click(function(){
				$('.optionA').prop('checked', true);
				$('.optionB').prop('checked', false);
				$('.optionC').prop('checked', false);
				$('.optionD').prop('checked', false);				
				$('.optionE').prop('checked', false);				
			});
			$('.optionB').click(function(){
				$('.optionA').prop('checked', false);
				$('.optionB').prop('checked', true);
				$('.optionC').prop('checked', false);
				$('.optionD').prop('checked', false);				
				$('.optionE').prop('checked', false);				
			});
			$('.optionC').click(function(){
				$('.optionA').prop('checked', false);
				$('.optionB').prop('checked', false);
				$('.optionC').prop('checked', true);
				$('.optionD').prop('checked', false);				
				$('.optionE').prop('checked', false);				
			});
			$('.optionD').click(function(){
				$('.optionA').prop('checked', false);
				$('.optionB').prop('checked', false);
				$('.optionC').prop('checked', false);
				$('.optionD').prop('checked', true);				
				$('.optionE').prop('checked', false);				
			});
			$('.optionE').click(function(){
				$('.optionA').prop('checked', false);
				$('.optionB').prop('checked', false);
				$('.optionC').prop('checked', false);
				$('.optionD').prop('checked', false);				
				$('.optionE').prop('checked', true);				
			});
		});
		
	link(href='/css/normalize.css', rel='stylesheet')
	style.
		td{
		  border: 2px solid black;
		  background-color: lightgreen;
		}
		.c {
			font-size: 150%;
		}
		.h{
		  font-size: 200%;
		}
		.mR{
			margin-right:100;
		}

		.button {
			position: absolute;
			top: 50%;
			
		}
		
body
	form(action="/CI_Exam_Sub" method="post")
		input(type = 'hidden' name ='_method' value='put')
		div(class='container')
			<center><div class'well'></div><center>
			table
				thead
					tr
						
						th.h(style='color: blue;') Continuous Integration 
							br
							br
				each item in items 
					tr				

						td		
							div(style = "background-color: #FFFACD;")
								label.c=item.Rank
								lable.c ) 
								lable.c= item.Question_Name 
							div(style = "background-color: #FAFAD2;")
								br
								
								input#A(type = 'checkbox' name = "answer" value = "A").optionA
								label.mR(for = "A")= item.A
								br
									
								input#B(type = 'checkbox' name = "answer" value = "B").optionB
								label.mR(for = "B")= item.B
								br
									
								input#C(type = 'checkbox' name = "answer" value = "C").optionC
								label.mR(for = "C")= item.C
								br
										
								input#D(type = 'checkbox' name = "answer" value = "D").optionD
								label.mR(for = "D")= item.D	
								br
									
								input#E(type = 'checkbox' name = "answer" value = "E").optionE
								label.mR(for = "E")= item.E	
								br
								
								
								select(name = 'answer' style = 'display: none;')
									option --
				STOP
			button(style=  'width: 100; background-color: lightblue;') Next >>
	div(class='container')
		<center><div class'well'></div><center>
		button#prev(style=  'width: 100; background-color: lightblue;') << Previous
	
		