html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
			
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		link(href='/css/normalize.css', rel='stylesheet')
		style.
			body {
			  font-family: Arial, Helvetica, sans-serif;
			}

			.navbar {
			  overflow: hidden;
			  background-color: #006400;
			}

			.navbar a {
			  float: left;
			  font-size: 16px;
			  color: white;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			}

			.dropdown {
			  float: right;
			  overflow: hidden;
			}

			.dropdown .dropbtn {
			  font-size: 16px;  
			  border: none;
			  outline: none;
			  color: white;
			  padding: 14px 16px;
			  background-color: inherit;
			  font-family: inherit;
			  margin: 0;
			}

			.navbar a:hover, .dropdown:hover .dropbtn {
			  background-color: #556B2F;
			}

			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #f9f9f9;
			  min-width: 160px;
			  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			  z-index: 1;
			}

			.dropdown-content a {
			  float: none;
			  color: black;
			  padding: 12px 16px;
			  text-decoration: none;
			  display: block;
			  text-align: left;
			}

			.dropdown-content a:hover {
			  background-color: #ddd;
			}

			.dropdown:hover .dropdown-content {
			  display: block;
			}

body

	div.navbar
		a(href="/") DevOps Maturity Level
		
		div.dropdown
			a(href="/") About Us
			
		div.dropdown
			a(href="https://www.google.com/") Report
			
		div.dropdown
			<button class='dropbtn'> Sections <i class="fa fa-caret-down" aria-hidden="true"></i></button>
							
			div.dropdown-content
				a(href="/Configuration_Management") Configuration Management
				a(href="/Continuous_Integration") Continuous Integration
				a(href="/Automation_Testing") Automation Testing
				a(href="/IaaS_Exam") Iaas
				a(href="/Continuous_Delivery") Continuous Delivery
				a(href="/Continuous_Deployment") Continuous Deployment
				a(href="/Continuous_Monitoring") Continuous Monitoring
			
		div.dropdown
			a(href="/Questionaire") Questionaire
		
		div.dropdown
			a(href="/Admin") Admin
		
		
	
